//! **************************************************************************
// Written by: Map O.87xd on Mon Nov 25 17:12:58 2019
//! **************************************************************************

SCHEMATIC START;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

